@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #5e4b56;
  height: 100vh;
  font-family: "Bree Serif", serif;
  color: #5e4b56;
}

button {
  background: none;
  border: none;
}

#container {
  background-color: #fcd0a1;
  border-radius: 10px;
  width: 37.5rem;
  max-width: 80vw;
  height: auto;
  max-height: 100%;
  padding: 1.5rem;
}

#main-title {
  text-align: center;
  padding-top: 20px;
}

.container-length {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

#break-label {
  display: flex;
  flex-direction: column;
  width: auto;
}

.arrow-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

#timer {
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: center;
  justify-content: center;
}

#time-left {
  background: black;
  color: white;
  font-family: "Orbitron", sans-serif;
  padding: 25px;
  border: 8px solid rgba(165, 42, 42, 0.751);
  border-radius: 14px;
  min-width: 275px;
  text-align: center;
}

#timer-control {
  display: flex;
  flex-direction: row;
  width: auto;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  margin-top: 14px;
  cursor: pointer;
}

.clip {
  display: "none";
}

.text-lg {
  font-size: 50px;
  font-weight: 400;
}

.text-base {
  font-size: 20px;
  font-weight: 400;
}

.text-2xl {
  font-size: 60px;
  font-weight: 400;
}
